@inherits LayoutComponentBase
<div class="page">
    @if (show)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <div class="main">
        <div class="top-row px-4 auth">
           
            <a href="" target="_blank">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
        @code{
            bool show = false;
            protected override void OnInitialized()
            {
            }
        }
    </div>
</div>