@inherits LayoutComponentBase
@using System;
<PageTitle>BlazorApp20</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AppDomain.CurrentDomain.FriendlyName == "BlazorApp20")
            {
                <LoginControl></LoginControl>
            }
            @*  <a href="/login/">Login</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {


}